<div class="form d-flex justify-content-center">
  <form [formGroup]='formMaker'>
    <div class="container-fluid d-flex flex-column justify-content-center ">
      <div class="row" style="margin-bottom: 20px;">
        <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" style="margin-bottom: 16px;">
          <mat-label>Article Title</mat-label>
          <input matInput type="text" id="title" formControlName="title" placeholder="title" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" style="margin-bottom: 16px;">
          <mat-label>What's this article about?</mat-label>
          <input matInput type="text" id="description" formControlName="description" placeholder="description">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" style="margin-bottom: 16px;">
          <mat-label>Write your article</mat-label>
          <textarea matInput type="text" id="body" formControlName="body" placeholder="body"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" style="margin-bottom: 16px;">
          <mat-label>Enter Tags</mat-label>
          <input matInput type="text" id="tagField" [formControl]="tagField" placeholder="tagField" (keyup.enter) = "addTag()">
          <span class="addtag" (click) = "addTag()">+</span>
        </mat-form-field>
        <div>
          <ul>
            <li
            *ngFor="let tag of article.tagList"
            >
            <i class="ion-close-round" (click)="removeTag(tag)"></i>
            {{tag}}
            </li>
          </ul>
        </div>
      </div>
      <app-errors-list [errors] = "errors"></app-errors-list>  
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-12 d-flex justify-content-center" style=" margin-bottom: 35px;">
            <button mat-flat-button color="primary" type="submit" [disabled]="!formMaker.valid" (click)="submitForm()">Publish Article</button>
        </div>
      </div>
    </div>
  </form>
</div>