.nav-pag {
    list-style: none;
    display: flex;
}
.nav-pag-item {
    margin-right: 5px;
    cursor: pointer;
    padding: 2px 5px;
    background: lightblue;
}
.nav-pag-item:hover {
    background: blue;
    color: white;
}
.active-pag {
    cursor: default;
    background: lightgray;
    color: gray
}
.active-pag:hover {
    background: lightgray;
    color: gray
}