<div>
  <ul>

    <li *ngFor = "let article of results">
      <app-article-preview [article] = "article" ></app-article-preview>
    </li>

  </ul>
  <div [hidden] = "!isLoad">
    Loading articles ...
  </div>
  <div [hidden] = "isLoad || results.length">
    No articles are here... yet.
  </div>

  <div>
    <ul class="nav-pag">
      <li 
      class="nav-pag-item" 
      *ngFor = "let number of totalPages" 
      (click) = "setPage(number)" 
      [hidden] = "isLoad"
      [ngClass]="{'active-pag': currentPage === number}">
        {{number}}
      </li>
    </ul>
  </div>
</div>