<div class="container-fluid d-flex h-100 flex-column justify-content-center main-block align-items-center no-gutters">
  <div class="login-block align-self-center">
      <div class="logo d-flex justify-content-center">
          <img id="logo" src="../../../../../assets/img/save-study-time.jpg" width="300"/>
      </div>
      
      <div class="title-log">
        {{title}}
      </div>
         <!-- <div class="d-flex justify-content-center align-self-center login-title">Login to your account</div>  -->
      
      <div class="form d-flex justify-content-center" >
        <form [formGroup]="authForm" class="d-flex justify-content-center" (ngSubmit)="submitForm()">
            <div class="container-fluid d-flex flex-column justify-content-center ">
                <div class="row" style="margin-bottom: 20px;">
                  <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" style="margin-bottom: 16px;" *ngIf = "authType === 'register'">
                    <mat-label>User name</mat-label>
                    <input matInput type="text" id="un" formControlName="username" placeholder="name" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" style="margin-bottom: 16px;">
                    <mat-label>Enter Email</mat-label>
                    <input matInput type="text" id="lg" formControlName="email" placeholder="email" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="pass" id="ps" autocomplete="user" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" *ngIf = "authType === 'register'">
                    <mat-label>Password repeat</mat-label>
                    <input matInput type="password" formControlName="confirmPass" placeholder="confirmPass" id="ps2" autocomplete="user" required>
                  </mat-form-field>
                </div>
                <!-- <div class="row d-flex justify-content-center">
                    <mat-checkbox class="example-margin" color="primary" formControlName="ch">Remember me</mat-checkbox>
                  <mat-checkbox class="col-6 d-flex justify-content-center">
                    <label for="ch"><input type="checkbox" id="ch">Remember me</label>
                  </mat-checkbox> -->
                  
                <!-- </div> --> 
                <app-errors-list [errors] = "errors"></app-errors-list>  
                <div class="row" style="margin-top: 25px;">
                  <div class="col-md-12 d-flex justify-content-center" style=" margin-bottom: 35px;">
                      <button mat-flat-button color="primary" type="submit" [disabled]="!authForm.valid">{{title}}</button>
                    <!-- <input type="button" id="snd" value="Log In" (click)="sendRequestToken()" /> -->
                  </div>
                </div>
              </div>
        </form>
      </div>
  </div>
  
</div>
