<button class="btn btn-sm"
    (click) = "toggleFavorite()"
    [ngClass]="{'disabled' : isSubmitting,
                'btn-outline-primary': !article.favorited,
                'btn-primary': article.favorited }"
 >
  <i class="ion-heart"></i> <ng-content></ng-content>
</button>