<div class="header-wrap">
  <div>
    <img src="../../assets/img/save-study-time.jpg" alt = "title" routerLink = '/'>
  </div>
  <div class="router-wrap" *appShowAuth = "false">
    <a routerLink = '/' routerLinkActive="active">Home</a>
    <a routerLink = '/login' routerLinkActive="active">login</a>
    <a routerLink = '/register' routerLinkActive="active">register</a>
  </div>

  <div class="router-wrap" *appShowAuth = "true">
    <a routerLink = '/' routerLinkActive="active">Home</a>
    <a routerLink = '/maker' routerLinkActive="active"><i class="ion-compose"></i>&nbsp;New Article</a>
    <a routerLink = '/edit' routerLinkActive="active">{{currentUser.username}}
      <img src= {{image}} alt="image">
    </a>
  </div>
</div>
