<div>
  <a [routerLink] = "['/profile', article.author.username]" class="port-wrap">
    <img [src]="article.author.image" class="port"/>
    <h2>{{ article.author.username }}</h2>
  </a>
  
  <span class="date">
      {{ article.createdAt | date: 'longDate' }}
  </span>
</div>
<ng-content></ng-content>
