
<div class="profile-page">
  <div class = "user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
            <img src="{{profile.image}}" alt="profile.username">
            <h1>{{profile.username}}</h1>
            <span>{{profile.bio}}</span>
            <app-follow-button
              [profile] = 'profile'
              (toggle) = 'onToggleFollow($event)'
            >
            </app-follow-button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-10 offset-md-1">
    <div class="articles-toggle">
      <ul class="nav nav-pills outline-active">
        <li class= "nav-item">
          
          <a 
            [routerLink]="['/profile', profile.username ]" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }">
            My Posts
          </a>
        </li>
        <li class= "nav-item">
              <a 
                [routerLink]="['/profile', profile.username , 'favorites']" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }">
                Favorited Posts
              </a>
          </li>
      </ul>

    </div>
    <router-outlet></router-outlet>
    
  </div>
  
</div>
