<div class="container-fluid d-flex h-100 flex-column justify-content-center main-block align-items-center no-gutters">
  <div class="login-block align-self-center">
     
      
      <div class="title-log">
        {{title}}
      </div>
      
      <div class="form d-flex justify-content-center" >
        <form [formGroup]="editForm" class="d-flex justify-content-center" (ngSubmit)="updateForm()">
            <div class="container-fluid d-flex flex-column justify-content-center ">
                <div class="row" style="margin-bottom: 20px;">
                  <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" style="margin-bottom: 16px;">
                    <mat-label>Image</mat-label>
                    <input matInput type="text" id="image" formControlName="image" placeholder="image">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" style="margin-bottom: 16px;">
                    <mat-label>User name</mat-label>
                    <input matInput type="text" id="un" formControlName="username" placeholder="name" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" style="margin-bottom: 16px;">
                    <mat-label>Biography</mat-label>
                    <textarea matInput type="text" id="bio" formControlName="bio" placeholder="bio"></textarea>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center" style="margin-bottom: 16px;">
                    <mat-label>Enter Email</mat-label>
                    <input matInput type="text" id="lg" formControlName="email" placeholder="email" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-12 d-flex justify-content-center">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="pass" id="ps" autocomplete="user" required>
                  </mat-form-field>
                 
                </div>
               
                <app-errors-list [errors] = "errors"></app-errors-list>  
                <div class="row" style="margin-top: 25px;">
                  <div class="col-md-12 d-flex justify-content-center" style=" margin-bottom: 35px;">
                      <button mat-flat-button color="primary" type="submit" [disabled]="!editForm.valid">Update settings</button>
                  </div>
                </div>
              </div>
        </form>
      </div>
      <div class="col-md-12 d-flex justify-content-center" style=" margin-bottom: 35px;">
        <button mat-flat-button color="warn" (click) = "logOut()">Log Out</button>
    </div>
  </div>
  
</div>