<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul>
        <li>
          <a 
            [ngClass]="{'active-route': listParams.type === 'feed'}"
            (click)="setList('feed')">
            Your Feed
          </a>
        </li>
        <li>
          <a 
            [ngClass]="{'active-route': listParams.type === 'all'}"
            (click)="setList('all')">Global Feed
          </a>
        </li>
        <li class="nav-item" [hidden]="!listParams.filters.tag">
            <a class="nav-link active">
              <i class="ion-pound"></i> {{ listParams.filters.tag }}
            </a>
          </li>
      </ul>

      <app-article-list [limit] = 10 [config] = 'listParams'></app-article-list>
    </div>
    <div class="col-md-3">
      <div class="sidebar">
        <p>Popular Tags</p>

        <div class="tag-list">
          <a *ngFor="let tag of tags"
             (click)="setList('all', {tag: tag})"
             class="tag-default tag-pill">
             {{ tag }}
          </a>
        </div>

        <div [hidden]="tagsLoaded">
          Loading tags...
        </div>

        <div [hidden]="!tagsLoaded || tags.length > 0">
          No tags are here... yet.
        </div>
      </div>
    </div>
  </div>
</div>


