.active-route {
    color: red !important;
    text-decoration: underline !important;
}
ul {
    list-style: none;
    display: flex;
    margin-top: 30px;
}
ul li {
    margin-right: 15px;
    cursor: pointer;
}
.tag-default {
    border-radius: 10px;
    padding: 2px 10px;
    background: lightgray;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 0.2rem;
    display: inline-block;
}
.sidebar {
    margin-top: 30px;
}