<div class="header-wrap">
  <div>
    &copy;{{date | date:'yyyy'}}. Conduit project for share.
  </div>
  <div class="router-wrap">
    <!-- <a routerLink = '/login' routerLinkActive="active">login</a>
    <a routerLink = '/register' routerLinkActive="active">register</a>
    <a  routerLinkActive="active">home</a> -->
  </div>
</div>